<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<div class="img-container">
  {{!-- Picture taken from https://theelitecars.com --}}
  <img src="https://theelitecars.com/wp-content/uploads/2017/09/rsz_tec_banner_sept_500kb.jpg" alt="Collection" style="width:700px;height:280px;">
  <img src="https://theelitecars.com/wp-content/uploads/2017/09/TEC-EID-3.jpg" alt="Collection" style="width:700px;height:280px;">
</div>
<h1>Welcome To DC Elite Auto Dealer</h1><style>h1 {color: red;}</style>
<h2>Since 1942</h2>
<h5>Our Location</h5><style>h5 {text-align: left;}</style>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="1300" height="450" frameborder="30" style="border:20"></iframe>
</div>


 <div class="video-container">
        <iframe width="653" height="480" src="//www.youtube.com/embed/ilRyBTbSFBY?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe width="653" height="480" src="//www.youtube.com/embed/qPrislkDoJU?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>