<div class="img-container">
  {{!-- Picture taken from https://theelitecars.com --}}
  <img src="https://theelitecars.com/wp-content/uploads/2017/09/rsz_tec_banner_sept_500kb.jpg" alt="Collection" style="width:700px;height:280px;">
  <img src="https://theelitecars.com/wp-content/uploads/2017/09/TEC-EID-3.jpg" alt="Collection" style="width:700px;height:280px;">
</div>
<h1>Welcome To DC Elite Auto Dealers</h1><style>h1 {color: red;}</style>
{{!-- <a href='/luxurycars' class="waves-effect waves-light btn">See Our Collections</a> --}}

 <div class="video-container">
        <iframe width="653" height="480" src="//www.youtube.com/embed/ilRyBTbSFBY?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe width="653" height="480" src="//www.youtube.com/embed/Vl0flJJiGA0?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>