<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DC Elite Cars</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<header>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">DC Elite Cars</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/luxurycars">Inventory</a></li>
        <li><a href="#">About Us</a></li>
        <li><a class='dropdown-button btn' href='#' data-activates='dropdown1'>Media</a></li>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Twitter</a></li>
                <li><a href="#!">Facebook</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
            </ul>
      </ul>
    </div>
  </nav>
</header>
<body>

    {{{body}}}

</body>
</html>


