 <div class="edit-details">
 <h3>Update Vehicle Information</h3>
    <form action="/luxurycars" method="post">
        <div class="form-group">
            <label for="title">Make</label>
            <input type="text" value="{{this.make}}" name="make" required>
       
            <label for="title">Model</label>
            <input type="text" value="{{this.model}}" name="model" required>
     
            <label for="title">Year</label>
            <input type="text" value="{{this.year}}" name="year" required>
        </div>
        <input type ="submit" value= "Update">
    </form>
    </div>
 